* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #27252c;
    color: #141414;

}

.container {
    background-color: #27252c;
    padding: 1rem;
    width: 380px;
    height: 460px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
 
}

.container::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(96deg, 
  rgba(54, 53, 255, 0.7),
  rgba(255, 147, 200, 0.7),
  rgba(230, 255, 218, 0.7)
);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    z-index: 1;
}

.search,
.result,
.info {
    position: relative;
    z-index: 2;
}

main {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.search {
    background-color: inherit;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.search:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.search input[type="text"] {
    border: none;
    outline: none;
    padding: 1rem;
    font-family: inherit;
    flex: 1;
}

.search-icon {
    background-color: rgb(154, 154, 224);
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.result {
    background-color: inherit;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-grow: 1;
}

#city {
    font-size: 3rem;
}

.info {
    background-color: inherit;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#w-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#w-details i {
    height: 30px;
}



.mov-grad {

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}